* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.header-burger {
  display: none;
}

.head-top {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  background: #FAFAFA;
}

.links ul {
  display: flex;
}

.links li {
  list-style-type: none;
}

.links a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin-left: 31px;
}

.links a:hover {
  color: #F7941E;
}

.gift-but button {
  background: none;
  border: #F7941E 1px solid;
  border-radius: 10px;
  color: #F7941E;
  padding: 14px 25px;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.gift-but button:hover {
  background: #F7941E;
  color: #fff
}

.head-mid {
  display: flex;
  justify-content: space-between;
}

.mid-inf {
  padding: 135px 135px;
  background: #F1F1F2;
  width: 50%;
  box-sizing: border-box;
}

.mid-inf h1 {
  padding-right: 20px;
  font-size: 56px;
  margin-bottom: 36px;
}

.mid-inf p {
  font-size: 20px;
  color: #000000;
  margin-bottom: 52px;
}

.mid-img {
  background-image: url(./img/main1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
}

.head-bot {
  display: flex;
  justify-content: space-between;
}

.bot-img {
  background-image: url(./img/main2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
}

.bot-inf {
  padding: 165px 155px;
  background: #F1F1F2;
  width: 50%;
  box-sizing: border-box;
}

.bot-inf h1 {
  font-size: 56px;
  margin-bottom: 36px;
}

.bot-inf p {
  font-size: 20px;
  color: #000000;
  margin-bottom: 52px;
  text-align: justify;
}

.items {
  display: flex;
  justify-content: space-around;
}

.zag-card h1 {
  text-align: center;
  font-size: 36px;
}

.cards-p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 64px;
}

.cards-block {
  margin: 135px 100px;
}

.item h2 {
  margin-bottom: 74px;
  font-weight: 200;
}

.item-info {
  margin: 24px;
}

.item:hover {
  box-shadow: -10px 5px 20px grey;
}

.banner {
  display: flex;
  justify-content: space-between;
  background: #F7941E;
  padding: 60px 235px;
  box-sizing: border-box;
}

.ban-left h1 {
  font-size: 32px;
}

.ban-left p {
  font-size: 32px;
}

.ban-right {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.ban-but button {
  background: none;
  border: #000 1px solid;
  border-radius: 5px;
  color: #000;
  padding: 14px 25px;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.ban-but button:hover {
  background: #231F20;
  color: #fff;
}

.main-bot1 {
  margin-top: 88px;
  text-align: center;
}

.main-bot2 {
  width: 80%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.bot-l img {
  height: 100%;
  width: 100%;
}

.bot-r {
  padding: 40px 80px;
  box-sizing: border-box;
  background: #231F20;
  flex: 1;
  color: #fff;
}

.bot-r p {
  font-size: 14px;
  margin-bottom: 27px;
}

.bot-r h1 {
  font-size: 48px;
  margin-bottom: 60px;
}

.bot-r h3 {
  font-size: 18px;
}

.main-bot3 {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 24px;
}

.bot3-l h1 {
  font-size: 24px;
}

.bot3-l p {
  font-size: 18px;
  margin-bottom: 60px;
}

.bot3-l {
  min-height: 100%;
  width: 50%;
  padding: 24px;

}

.bot3-l h3 {
  font-weight: 300;
}

.bot3-l:hover {
  box-shadow: 5px 5px 40px #d5d5d5;
}

footer {
  margin-top: 120px;
}

.footer-top {
  display: flex;
  justify-content: center;
}

.footer-top ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 50%;
}

.footer-top a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.footer-top a:hover {
  color: #F7941E;
}

.footer-line hr {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.footer-social ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 30%;
}

.footer-social li {
  width: 38px;
  height: 38px;
}

.footer-bot {
  text-align: center;
  margin-bottom: 40px;
}

.footer-bot span {
  margin: 10px;
}


@media screen and (max-width: 1024px) {
  .mid-inf {
    padding: 80px;
  }

  .mid-inf h1 {
    font-size: 36px;
  }

  .bot-inf {
    padding: 80px;
  }

  .cards-block {
    margin: 100px 70px;
  }

  .items {
    margin: 0 auto;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .item {
    margin-top: 20px;
  }

  .banner {
    padding: 50px 140px;
  }

  .ban-left h1 {
    font-size: 30px;
  }

  .ban-left p {
    font-size: 24px;
  }

  .ban-but button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .bot-r h1 {
    font-size: 34px;
    margin-bottom: 120px;
  }

  .main-bot3 h1 {
    font-size: 22px;
  }

  .main-bot3 p {
    font-size: 16px;
  }

  footer {
    margin-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  .head-top {
    width: 100%;
    position: fixed;
    padding: 20px 40px;
  }

  .header-burger {
    display: block;
    height: 50px;
    width: 50px;
    background: none;
    border: #F7941E 2px solid;
    border-radius: 50%;
    position: relative;
  }

  .header-burger span,
  .header-burger span::before,
  .header-burger span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background: #F7941E;
  }

  .header-burger span::before,
  .header-burger span::after {
    content: '';
    display: block;
    transition: 0.5s;
  }

  .header-burger span::before {
    transform: translateY(-5px);
  }

  .header-burger span::after {
    transform: translateY(5px);
  }

  .header-burger:hover {
    background: #fff;
  }

  .links {
    display: none;
  }

  .mid-inf h1 {
    padding-top: 60px;
    font-size: 46px;
  }

  .bot-inf {
    text-align: center;
    width: 100%;
  }

  .mid-inf {
    text-align: center;
    width: 100%;
  }

  .cards-block {
    margin: 100px 70px;
  }

  .head-mid {
    flex-direction: column;
  }

  .head-bot {
    flex-direction: column-reverse;
  }

  .mid-img,
  .bot-img {
    width: 100%;
    height: 450px;
  }

  .bot-inf h1 {
    font-size: 38px;
  }

  .items {
    margin: 0 auto;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .item {
    margin-top: 20px;
  }

  .banner {
    padding: 50px 140px;
  }

  .ban-but button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .bot-r h1 {
    font-size: 34px;
    margin-bottom: 120px;
  }


  .banner {
    padding: 30px 60px;
  }

  .ban-left h1 {
    font-size: 22px;
  }

  .ban-left p {
    font-size: 18px;
  }

  .ban-but button {
    font-size: 12px;
    padding: 6px 10px;
  }


  .main-bot2 {
    flex-direction: column;
  }

  .main-bot3 h1 {
    font-size: 22px;
  }

  .main-bot3 p {
    font-size: 16px;
  }

  .main-bot3 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: px;
  }

  .bot3-l h1 {
    font-size: 16px;
  }

  .bot3-l p {
    font-size: 14px;
    margin-bottom: 60px;
  }

  .bot3-l {
    width: 50%;
  }

  .bot3-l h3 {
    font-size: 16px;
  }

  .main-bot3 {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 24px;
  }

  .footer-social ul {
    width: 50%;
  }

  .footer-line hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  footer {
    margin-top: 60px;
  }

}


@media screen and (max-width: 425px) {
  .mid-inf h1 {
    font-size: 24px;
  }

  .mid-inf p {
    font-size: 18px;
  }

  .head-top button,
  .mid-inf button,
  .head-bot button {
    font-size: 14px;
    padding: 7px 12px;
    border-radius: 5px;
  }

  .banner {
    padding: 20px 60px;
    flex-direction: column;
    align-items: center;
  }

  .ban-left {
    text-align: center;
  }

  .ban-left h1 {
    font-size: 14px;
  }

  .ban-left p {
    font-size: 12px;
  }

  .ban-right {
    justify-content: space-around;
    width: 100%;
  }

  .ban-right button {
    font-size: 10px;
    padding: 6px 10px;
  }

  .main-bot1 {
    margin-top: 44px;
  }

  .main-bot1 h1 {
    font-size: 22px;
  }

  .main-bot1 h2 {
    font-size: 16px;
  }

  .main-bot2 {
    margin-bottom: 20px;
  }

  .bot-inf {
    padding: 26px;
  }

  .bot-inf h1 {
    font-size: 30px;
  }

  .bot-inf p {
    font-size: 16px;
  }

  .main-bot2 {
    flex-direction: column-reverse;
  }

  .zag-card h1 {
    font-size: 26px;
  }

  .zag-card p {
    margin-bottom: 40px;
  }

  .bot-r {
    text-align: center;
    padding: 6px 20px
  }

  .bot-r p {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .bot-r h1 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 300;
  }

  .bot-r h3 {
    font-size: 14px;
    font-weight: 100;
  }

  .main-bot3 {
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  .bot3-l {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .footer-top {
    display: none;
  }

  footer {
    margin-top: 10px;
  }

  .footer-social {
    margin-bottom: 40px;
  }

  .footer-social ul {
    align-items: center;
    width: 60%;
  }
}